<div class="app">
<div id="logo-container">
    <img src="zdr.jpg" alt="Zello Logo" id="logo" width="200" height="77">
    <h3>Z-Con / ZelloStream Configuration</h3>
</div>

<form id="configForm" action="submit.php" method="post">
    <label for="zelloUser">Zello User:</label><br>
    <input type="text" id="zelloUser" name="zelloUser" value="{{username}}"><br>

    <label for="zelloPassword">Zello Password:</label><br>
    <input type="text" id="zelloPassword" name="zelloPassword" value="{{password}}"><br>

    <label for="zelloChannel">Zello Channel:</label><br>
    <input type="text" id="zelloChannel" name="zelloChannel" value="{{zello_channel}}"><br>

    <label for="issuerKey">Issuer Key:</label><br>
    <input type="text" id="issuerKey" name="issuerKey" value="{{issuer}}"><br>

    <label for="zelloSecretKey">Zello Private Key:</label><br>
    <textarea id="zelloSecretKey" name="zelloSecretKey" rows="3" style="width: 250px;">{{privateKeyFile}}</textarea><br>

    <label for="rtlFmPrompt">RTL_FM Prompt:</label><br>
    <textarea id="rtlFmPrompt" name="rtlFmPrompt" rows="6" style="width: 500px;">{{runScriptFile}}</textarea><br> <!-- Upraveno na textové pole s 6 řádky a dvojnásobnou šířkou -->

    <div class="button-container">
        <input id="saveButton" type="submit" value="Save">
        <input type="submit" value="Reboot">
    </div>
</form><br><br>
<div style="text-align: left;">
  <p><strong>For ZDR to function properly, you need to create a new Zello account that you will register as the operator of the stream to which you will connect from your private account. It is not possible to use your account because you cannot be logged in on two devices at the same time.</strong></p>

  <p><strong><u>Zello Use:</u></strong> Fill in the user name of the zello stream operator.<br>
  <strong><u>Zello Password:</u></strong> Fill in the password of the operator's Zello account.<br>
  <strong><u>Zello Channel:</u></strong> Enter the exact name of the channel you set up in your operator account to which this stream will be sent.</p>

  <p>Now you will need to login to the Zello developer site at: <a href="https://developers.zello.com/keys" target="_blank">https://developers.zello.com/keys</a> and generate the necessary api keys.<br>
  <strong><u>Issuer Key:</u></strong> You can find this key once generated on the above page.<br>
  <strong><u>Zello Private Key:</u></strong> You can also find this key after generating it on the above page, you have to enter it with <code>-----BEGIN PRIVATE KEY-----</code> and <code>-----END PRIVATE KEY-----</code></p>

  <p><strong><u>RTL_FM Prompt:</u></strong> In this last step, you can adjust the frequency on which ZDR will listen. I recommend studying rtl_sdr functions on the author's website. The system is preset, so if you don't know how to do it, you only need to change the frequency in KHz</p>
</div>
</div>